<div class="element-bg-img">
  <img src="assets/images/1.jpg" alt="" class="img-responsive">
</div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <li><a href="javascript:void(0);" [ngClass]="{'active': !term}" (click)="term=''">All</a></li>
      <li><a href="javascript:void(0);" [ngClass]="{'active': term === 'hotel'}" (click)="term='hotel'">Hotel</a></li>
      <li><a href="javascript:void(0);" [ngClass]="{'active': term === 'fishing'}" (click)="term='fishing'">Fishing</a>
      </li>
      <li class="anc-bor"><a href="javascript:void(0);" [ngClass]="{'active': term === 'tour'}" (click)="term='tour'">Tours</a>
      </li>
    </ul>
  </div>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div *ngIf="activities$ | async as act; else loadingSpinner" class="scrollbar" id="style-2">
        <app-resort-card *ngFor="let activity of act | filterResorts:term"
                         (click)="selectResort(activity)"
                         [activity]="activity"
                         class="activity-row">
        </app-resort-card>
      </div>
    </div>
  </div>
</div>


<ng-template #loadingSpinner>
  <div class="spinner-container">
    <svg>
      <use xlink:href="#loadingSpinner"></use>
    </svg>
  </div>
</ng-template>