<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <app-activities (onResortSelected)="resort=$event"></app-activities>
  </div>
  <div *ngIf="resort" class="element-right">
    <app-weather [weather]="resort.weather" [title]="resort.title"></app-weather>
    <app-social-info [socInfo]="resort.socInfo" [title]="resort.title"></app-social-info>
  </div>
  <div class="clear"> </div>
</div>
<div class="copy-right">
  <p>© 2015 Hot Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>